<div class="row">


    <div class="col-md-5 offset-md-1">

        <div class="card">
            <div class="card-header">
                <div class="card-title">Game</div>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input [(ngModel)]="game.title" class="form-control" type="text" name="title" placeholder="Title" autofocus>
                    </div>
                    <div class="form-group">
                        <textarea [(ngModel)]="game.description" class="form-control" type="text" name="description" placeholder="Description" rows="2"></textarea>
                    </div>

                    <div class="custom-file">
                        <input type="file" accept=".png, .jpg, .jpeg" (change)="seleccionImage($event)" class="custom-file-input" id="customFileLang">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                    <br><br>
                    <div class="form-group ">
                        <button id="btn" (click)="edit == true ? updateGame(): newGame()" [disabled]="!imagenSubir" class=" btn btn-dark btn-block ">Success</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <br>
    <div class="col-md-4 card">
        <!-- <div class=""> -->

        <!-- <div class=""> -->
        <div class="card-body view overlay text-center">
            <img *ngIf="!imagenTemp && !game.image" [src]="imgDefault" class="card-img-top">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="card-img-top">
            <img *ngIf="game.image && !imagenTemp" [src]="game.image | imagen" class="card-img-top">
            <!-- <img class="card-img-top" id="img"> -->
            <div class="text-center">
                {{ game.title == '' ? 'GAME TITLE': game.title | uppercase }} - {{ game.created_at | date: 'yyyy-MM-dd' }}
                <br> {{ game.description == '' ? 'ESCRIBE TU DESCRIPCION': game.description | uppercase }}
            </div>
        </div>

    </div>
    <!-- </div> -->
</div>